{% extends 'sites/index.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container" id="registerContainer">
        <div id="registerContainerHeader">
            <h1 id="registerH1">New User</h1>
        </div>
        <form method="POST" class="post-form">{% csrf_token %}
        {{ form|bootstrap }}
        <button id="registerButton" type="submit" class="save btn btn-danger">Save</button>
        </form>
        {% if user.is_authenticated %}
        {% else %}
        <p id="LoginP">Already registered? Please Login<a href="{% url 'login' %}" > here</a></p>
        {% endif %}
    </div>
{% endblock %}

