{% extends 'sites/index.html' %}
{% load bootstrap %}

{% block content %}





<table id="tableVote" class="display" width="100%"></table>
<button id="sideButton" class="btn btn-default btn-sm"><div class="glyphicon glyphicon-plus" id="plusSign"></div></button>



<div class="container" id="fieldContainer">
	<div class="row" id="attRow">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row" id="mfORow" >
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row"id="mfRow">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row" id="mfDRow" >
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row" id="dfRow">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"></div>
	</div>
	<div class="row"id="gkRow">
		<div class="col-sm-4"></div>
	</div>
	

</div>



<form method="POST" class="post-form" id="playerForm">{% csrf_token %}
	<div id="playerDiv0" name="lol">
		{{ form0.as_p }}	
	</div>
	<div id="playerDiv1">
		{{ form1.as_p }}	
	</div>
	<div id="playerDiv2">
		{{ form2.as_p }}	
	</div>
	<div id="playerDiv3">
		{{ form3.as_p }}	
	</div>
	<div id="playerDiv4">
		{{ form4.as_p }}	
	</div>
	<div id="playerDiv5">
		{{ form5.as_p }}	
	</div>
	<div id="playerDiv6">
		{{ form6.as_p }}	
	</div>
	<div id="playerDiv7">
		{{ form7.as_p }}	
	</div>
	<div id="playerDiv8">
		{{ form8.as_p }}	
	</div>
	<div id="playerDiv9">
		{{ form9.as_p }}	
	</div>
	<div id="playerDiv10">
		{{ form10.as_p }}	
	</div>
	
	{% if user.is_authenticated %}
		<button type="submit" class="save btn btn-default" id="voteButtonForm">Save</button>
	{% else %}
		<p id="pVote">Please Login to vote, <br> <a href="{% url 'login' %}" id="aVote" >click here to login</a></p>
	{% endif %}
</form>





<script>
$.teamInfo = JSON.parse("{{ shonan2|escapejs}}");
$(document).ready(function() {

			 /** Python list in json**/ 
/**			
			var teamInfo =  JSON.parse("{{ shonan2|escapejs}}");
			var array_of_arrays = [];
			var nameTeam = [];
			
			for (var w=0; w<18;w++){
			    
			    for (var i =3; i < teamInfo[w].length - 1; i = i + 3){
			        teamInfo[w].splice(i, 0, teamInfo[w][0]);
			    };
			    teamInfo[w].splice(42, 0, teamInfo[w][0]);
			    
			    for (var i =1; i < teamInfo[w].length - 2; i = i + 3){
			        array_of_arrays.push(teamInfo[w].slice(i,i+3))
			    }
			    //console.log(teamInfo);
			    
			}
**/			
			/** datatable creation **/
/**
			var table = $('#tableVote').DataTable( {
			    data: array_of_arrays,
			    columns: [
			        { title: "Position" },
			        { title: "Name" },
			        { title: "Team" }
			        ]
			} );
			
**/			
			/** table event **/
/**
			var attrDiv = $("#playerDiv").attr('name');

			$('#tableVote tbody').on( 'click', 'tr', function () {
				var row = table.row( this ).data();
				var tsRow = $(this);
				var attr = $(this).attr('selected');
**/				
                /** allows to check how many players are on field**/
/**
				var fwCounter = document.querySelectorAll('#attRow > *[fulled]').length;
				var dfCounter = document.querySelectorAll('#dfRow > *[fulled]').length;
				var mfCounterPosition = document.querySelectorAll('#mfRow > *[fulled]').length;
				var mfOCounterPosition = document.querySelectorAll('#mfORow > *[fulled]').length;
				var gkCounter = document.querySelectorAll('#gkRow > *[fulled]').length;
				var totalCounter = dfCounter + fwCounter + gkCounter + mfCounterPosition + mfOCounterPosition;
**/

                /** add img to the field **/
/**
				var imgTeam = '';
				if(row[2] == "Sanfrecce Hiroshima"){
					imgTeam = "https://hdlogo.files.wordpress.com/2011/12/hiroshima-logo.png";
				}else if(row[2] == "Yokohama"){
					imgTeam ="https://hdlogo.files.wordpress.com/2011/12/yokohama-f-marinosv.png";
				}else if(row[2] == "Shonan Bellmare"){
					imgTeam ="https://upload.wikimedia.org/wikipedia/en/2/2c/ShonanBellmare.png";
				}else if(row[2] == "F.C.Tokyo"){
					imgTeam ="https://upload.wikimedia.org/wikipedia/en/4/45/FCTokyo.png";
				}else if(row[2] == "Sagan Tosu"){
					imgTeam ="https://upload.wikimedia.org/wikipedia/en/c/c0/SaganTosu.png";
				}else if(row[2] == "Kawasaki Frontale"){
					imgTeam="https://upload.wikimedia.org/wikipedia/en/7/74/KawasakiFrontale.png";
				}else{
					imgTeam = "https://hdlogo.files.wordpress.com/2011/12/"  + row[2].toLowerCase().replace(/\s/g, '-') + "-logo.png?w=700&h=";
				}
				
				
				
				function addToPitch(position, id, counter){
					if (row[0] =="MF"&& $("#mfORow div:nth-child(3)").is(":empty") && mfCounterPosition == 5 && mfOCounterPosition < 1 && !attr && totalCounter < 11){
						$("#mfORow div:nth-child(3)").attr('fulled', 'yes');
						$("#mfORow div:nth-child(3)").append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" + "<div style='visibility: hidden'>" + row[0]+ "</div>" + "<div style='visibility: hidden'>" + row[2]+ "</div>");
						tsRow.attr('selected', 'yes');


					}else if (row[0] ==position && counter == 1 && !attr && totalCounter < 11){
						//$(id + " > div:empty:nth-child(4)").insertBefore($(id + " div:nth-child(3)"));
						
						$(id + " .col-sm-4").each(function() {
							if($(this).text().length < 1){
								//alert($(this).text());
								$(this).remove();
								
							}
						});
						$(id + " .col-sm-4").eq(0).after("<div class='col-sm-4'></div>");
						$(id).prepend("<div class='col-sm-4'id='teste'></div>");
						$(id).append("<div class='col-sm-4' id='teste'></div>");
						$(id).append("<div class='col-sm-4' id='teste'></div>");
						$(id + " > div:empty:nth-child(4)").attr('fulled', 'yes');
						$(id + " > div:empty:nth-child(4)").append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" + "<div style='visibility: hidden'>" + row[0]+ "</div>" + "<div style='visibility: hidden'>" + row[2]+ "</div>");
						tsRow.attr('selected', 'yes');

						
					}else if (row[0] ==position && counter ==3 && !attr && totalCounter < 11){
						//$(id + " > div:empty:nth-child(5)").insertBefore($(id + " div:nth-child(3)"));
						
						$(id + " .col-sm-4").each(function() {
							if($(this).text().length < 1){
								//alert($(this).text());
								$(this).remove();
								
							}
						});
						//$(id + " .col-sm-4").eq(0).after("<div class='col-sm-4'></div>");
						$(id + " .col-sm-4").eq(1).after("<div class='col-sm-4'></div>");
						$(id).append("<div class='col-sm-4' id='teste'></div>");
						$(id + " > div:empty:nth-child(5)").attr('fulled', 'yes');
						$(id + " > div:empty:nth-child(5)").append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" +  "<div style='visibility: hidden'>" + row[0]+ "</div>" +  "<div style='visibility: hidden'>" + row[2]+ "</div>");


						
					} else if (row[0] ==position && $(id + " div:nth-child(3)").is(":empty") && !attr && totalCounter < 11){
						$(id + " > div:empty:nth-child(3)").attr('fulled', 'yes');
						$(id + " > div:empty:nth-child(3)").append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" +  "<div style='visibility: hidden'>" + row[0]+ "</div>" +  "<div style='visibility: hidden'>" + row[2]+ "</div>");
						tsRow.attr('selected', 'yes');
						
						
						
					}else if (row[0] ==position && $(id+ ' div:empty:first')&& !attr && totalCounter < 11){
						$(id+ ' div:empty:first').attr('fulled', 'yes');
						$(id+ ' div:empty:first').append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" + "<div style='display:nothing'>" + row[0]+ "</div>" + "<div style='display:nothing'>" + row[2]+ "</div>");
						
						
					}
				}
				
				addToPitch("DF", "#dfRow",dfCounter);
				addToPitch("FW", "#attRow",fwCounter);
				addToPitch("MF", "#mfRow",mfCounterPosition);
				
			    if (row[0] =="MF"&& mfOCounterPosition > 0 && totalCounter < 11 && mfCounterPosition == 5 ){
			    	addToPitch("MF", "#mfORow",mfOCounterPosition);
			    }

**/				

			    /** goalkeeper **/
/**
			    if (row[0] =="GK" && $('#gkRow div:empty:first')&& !attr && totalCounter < 11){
			    	$('#gkRow div:empty:first').attr('fulled', 'yes');
			    	$('#gkRow div:empty:first').append("<img id='imgTeams' src='" + imgTeam + "' />" + "<div id='fieldName'>" + row[1]+ "</div>" +  "<div style='visibility: hidden'>" + row[0]+ "</div>" +  "<div style='visibility: hidden'>" + row[2]+ "</div>");
			    	tsRow.attr('selected', 'yes');

			    }
				
			} );
**/			
			/** gets divs togehter **/
/**
			function three(id){
				//alert(id + "' > *[fulled]'" );
				if (document.querySelectorAll(id +  " > *[fulled]").length == 3){

					$(id + " .col-sm-4").each(function() {
						if($(this).text().length < 1){
							$(this).remove();
						}
					});
					$(id).prepend("<div class='col-sm-4'></div>");
					$(id).append("<div class='col-sm-4'></div>");
				}else if (document.querySelectorAll(id +  " > *[fulled]").length == 2){

					$(id + " .col-sm-4").each(function() {
						if($(this).text().length < 1){
							$(this).remove();

						}
					});
				
				$(id + " .col-sm-4").eq(0).after("<div class='col-sm-4'></div>");
				$(id).prepend("<div class='col-sm-4'id='teste'></div>");
				$(id).append("<div class='col-sm-4' id='teste'></div>");
					
				}else if (document.querySelectorAll(id +  " > *[fulled]").length == 1){
					$(id + " .col-sm-4").each(function() {
						if($(this).text().length < 1){
							$(this).remove();

						}
					});
				
				$(id).prepend("<div class='col-sm-4'id='teste'></div>");
				$(id).prepend("<div class='col-sm-4'id='teste'></div>");
				$(id).append("<div class='col-sm-4' id='teste'></div>");
				$(id).append("<div class='col-sm-4' id='teste'></div>");
				}
			}

**/			
			/** removes players from field and selected atribute **/
/**
			$("div").on( 'dblclick',".col-sm-4", function () {

				playerDeleteName = $(this).children("#fieldName").text(); 
				$.each($("#tableVote tbody").find("tr"), function() {
					if($(this).children().eq(1).text() == playerDeleteName){
						$(this).removeAttr("selected"); 
					}
				});
				$(this).find(":hidden").remove();
				
				$(this).children().remove();
				
				$(this).removeAttr("fulled");

				three("#dfRow");
				three("#attRow");
				three("#mfRow");
				three("#mfORow");


			});

**/			
			/**changes container size on total size change**/
/**
			$(window).resize(function(){
				//alert( $(window).width());
				if (parseInt($(window).width()) < 1330){
					$("#fieldContainer").css({
						'margin': '0px 0px 0px auto', 

					});

				}else if(parseInt($(window).width()) > 1330) {
					$("#fieldContainer").css({
						'margin': '0px auto', 
					});
				}
			});
			
			$( ".row" ).sortable();
			$( ".row" ).disableSelection();
			
			$('#post-form').on('submit', function(event){
				event.preventDefault();
				console.log("form submitted!")  // sanity check
				create_post();
				
			});
			var array = [];
			$("#test").click(function(){
				var selectedPlayers = document.querySelectorAll('tr[selected ="selected"]').length;
				//alert(selectedPlayers);
				for (var i = 0; i<selectedPlayers;i++){
					teamName = $('tr[selected="selected"]').children().eq(2).html();
					namePlayer = $('tr[selected="selected"]').children().eq(1).html();
					positionPlayer = $('tr[selected="selected"]').children().eq(0).html();
					//alert(teamName + " " + namePlayer);
				}
				$.each($("div .row").find('div[fulled="yes"]'), function() {

					teamName = $(this).children().eq(3).html();
					namePlayer = $(this).children().eq(1).html();
					positionPlayer = $(this).children().eq(2).html();
					array.push({"teamName":teamName, "namePlayer":namePlayer, "positionPlayer":positionPlayer});
				});
				
				
				for(i=0; i < array.length;i++) { 
					//alert(array[i].teamName + " " + array[i].namePlayer);
				
					$("#playerDiv" + i +" input:nth-child(2)").val(array[i].teamName);
					$("#playerDiv" + i + " input:nth-child(1)").val(array[i].namePlayer);
					$("#playerDiv" + i + " input:nth-child(3)").val(array[i].positionPlayer);
					

				}
						

			});
			
			$('#playerForm').submit(function() {
				if (document.querySelectorAll("#dfRow > *[fulled]").length < 3){
					alert("You need at least 3 defenders");
					return false;
				}
				if (document.querySelectorAll("#gkRow > *[fulled]").length < 1){
					alert("You need at least 1 goalkeeper");
					return false;
				}else{
					return true;
				}
			});

**/			

		});
		
</script>

<script type="text/javascript" src="/static/js/vote/vote.js"></script>
<script type="text/javascript" src="/static/js/vote/tableevent.js"></script>
<script type="text/javascript" src="/static/js/vote/windowresize.js"></script>
<script type="text/javascript" src="/static/js/vote/formsubmit.js"></script>
{% endblock %}